@font-face {
  font-family: 'FiraSans Regular';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans Bold';
  src: url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Alata Regular';
  src: url('../fonts/Alata-Regular.ttf') format('truetype');
}